{% extends "base.html" %}

{% block navbar %}
  <li><a href = "/"> Casa </a></li>
  <li class = "dropdown">
    <span class = "opener"> Mercados </span>
    <ul class = "submenu" style = "padding-left: 0px">
      <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/markets/EURSTN"> EUR/STN </a></li>
      <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/markets/USDEUR"> USD/EUR </a></li>
      <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/markets/GBPEUR"> GBP/EUR </a></li>
      <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/markets/JPYEUR"> JPY/EUR </a></li>
      <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/markets/CADEUR"> CAD/EUR </a></li>
      <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/markets/AUDEUR"> AUD/EUR </a></li>
      <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/markets/CHFEUR"> CHF/EUR </a></li>
    </ul>
  </li>
  <li><a href = "/how_it_works"> Como Funciona </a></li>
  {% if user.is_authenticated %}
    <li><a href = "/my_account"> Minha Conta </a></li>
    <li><a href = "/deposits"> Depósitos </a></li>
    <li><a href = "/withdrawals"> Retiradas </a></li>
    <li class = "active"><a href = "/send"> Enviar Dinheiro </a></li>
    {% if user.account_id in [1234567, 9875512] %}
      <li><a href = "/admin"> Admin </a></li>
    {% endif %}
    <li><a href = "/logout"> Logout </a></li>
  {% else %}
    <li><a href = "/signup"> Inscrever </a></li>
  {% endif%}
{% endblock %}

{% block content %} 
  <article class = "post featured">
    <header class = "major">
      <section class = "post">
        <header class = "major">
          <h1> Envia Dinheiro </h1>
        </header>
        <form method = "post">
          <div class = "row gtr-uniform">
            <div class = "col-6 col-12-small">
              <label> NÚMERO DO DESTINATÁRIO: </label>
              <input 
                type = "number" name = "paid_to_id" id = "paid_to_id" value = "" 
                placeholder = "1234567" step = "1" required = true/>
            </div>
            <div class="col-6 col-12-small">
              <label> NOME DO DESTINATÁRIO: </label>
              <div class = "box" style = "padding: 3.4px 16px 3.4px 16px;">
                <p id = "paid_to_name"> Digite o número da conta acima </p>
              </div>
            </div>
            
            <div class="col-6 col-12-small">
              <label> MOEDA: </label>
              <select id = "currency" name = "currency">
                <option value = "" disabled selected > Escolhe uma moeda </option>
                <option value = "EUR"> EUR </option>
                <option value = "STN"> STN </option>
                <option value = "USD"> USD </option>
                <option value = "GBP"> GBP </option>
                <option value = "JPY"> JPY </option>
                <option value = "CAD"> CAD </option>
                <option value = "AUD"> AUD </option>
                <option value = "CHF"> CHF </option>
              </select>
            </div>
            <div class = "col-6 col-12-small">
              <label> VALOR: </label>
              <input 
                type = "number" name = "quantity" id = "quantity" value = "" 
                placeholder = "100" step = "0.01" required = true/>
            </div>
  
            <div class = "col-12">
              <ul class = "actions">
                <li><input type = "submit" value = "Enviar" class = "primary" /></li>
                <li><input type = "reset" value = "Reiniciar" /></li>
              </ul>
            </div>
          </div>
        </form>
      </section>
    </header>
  </article>
{% endblock %}

{% block scripts %} 
  <script src = "{{ url_for('static', filename='js/getname.js') }}"></script>
{% endblock %}