.balance_lable {
  display: flex;
  align-items: center;
}

.balance_value {
  display: flex;
  align-items: center;
  text-align: right;
  margin-left: auto;
}

.balance_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.balance_grid_cell {
  display: flex;
}

.bg {
  background: url(/static/bg1.jpg);
}