{% extends "my_account/main.html" %}

{% block content %} 
  <article class = "post featured">
    <header class = "major">
      <section class = "post">
        <header class = "major">
          <h1> Mude seu Senha </h1>
        </header>
        <form method = "post">
          <div class = "row gtr-uniform">
            <div class = "col-6 col-12-small">
              <label> NOVA SENHA: </label>
              <input 
                type = "text" name = "password_1" id = "password_1" 
                value = "" placeholder = "*******"/>
            </div>

            <div class = "col-6 col-12-small">
              <label> CONFIRMAR SENHA: </label>
              <input 
                type = "text" name = "password_2" id = "password_2" 
                value = "" placeholder = "*******"/>
            </div>
    
            <div class = "col-6 col-12-small">
              <label> SENHA ANTIGA: </label>
              <input 
                type = "password" name = "password" id = "password" value = "" 
                placeholder = "*******" required = true/>
            </div>
    
            <div class = "col-12">
              <ul class = "actions">
                <li><input type = "submit" value = "Enviar" class = "primary" /></li>
                <li><input type = "reset" value = "Reiniciar" /></li>
              </ul>
            </div>
          </div>
        </form>
      </section>
    </header>
  </article>

{% endblock %}