{% extends "base.html" %}

{% block navbar %}
  <li><a href = "/"> Casa </a></li>
  <li class = "dropdown">
    <span class = "opener"> Mercados </span>
    <ul class = "submenu" style = "padding-left: 0px">
      <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/markets/EURSTN"> EUR/STN </a></li>
      <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/markets/USDEUR"> USD/EUR </a></li>
      <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/markets/GBPEUR"> GBP/EUR </a></li>
      <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/markets/JPYEUR"> JPY/EUR </a></li>
      <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/markets/CADEUR"> CAD/EUR </a></li>
      <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/markets/AUDEUR"> AUD/EUR </a></li>
      <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/markets/CHFEUR"> CHF/EUR </a></li>
    </ul>
  </li>
  <li><a href = "/how_it_works"> Como Funciona </a></li>
  {% if user.is_authenticated %}
    <li class = "active"><a href = "/my_account"> Minha Conta </a></li>
    <li><a href = "/deposits"> Depósitos </a></li>
    <li><a href = "/withdrawals"> Retiradas </a></li>
    <li><a href = "/send"> Enviar Dinheiro </a></li>
    {% if user.account_id in [1234567, 9875512] %}
      <li><a href = "/admin"> Admin </a></li>
    {% endif %}
    <li><a href = "/logout"> Logout </a></li>
  {% else %}
    <li><a href = "/signup"> Inscrever </a></li>
  {% endif%}
{% endblock %}

{% block content %} 

  <article class = "post featured">

    <div style = "position: relative; display: inline-block;">
      <a class = "image"> 
        <img class = "profile_pic" src = "{{ image_path }}" alt = "">
      </a>
      <ul class = "icons" style = "position: absolute; bottom: 0px; right: 0px; padding: 2px; margin: 0px;">
        <li><a href = "my_account/change_photo" class = "icon fa-regular fa-pen-to-square"></a></li>
      </ul>
    </div>
    <div>
      <span> Bem vindo {{ user.name }} </span>
      <h2> {{ user.account_id}} </h2>
    </div>
  </article>

  <section class = "posts">
    <!-- This dashboard is divided into four windows. -->

    <article>
      <!-- The list section shows the uses' current funds. -->
      <header>
        <h2> Saldo Disponível </h2>
      </header>
      <div class = "row gtr-uniform">
        <div class = "col-6 col-12-medium col-6-small">
          <a style = "background-image: url('{{ url_for('static', filename='images/EUR.png') }}');" href = "#" class = "button fit flag">
            <span style = "display: block; text-align: left;"> EUR </span>
            <span style = "display: block; text-align: right; font-size: large;"> € {{ user.EUR }} </span>
          </a>
        </div>
        <div class = "col-6 col-12-medium col-6-small">
          <a style = "background-image: url('{{ url_for('static', filename='images/STN.png') }}');" href = "#" class = "button fit flag">
            <span style = "display: block; text-align: left;"> STN </span>
            <span style = "display: block; text-align: right; font-size: large;"> {{ user.STN }} Db </span>
          </a>
        </div>
        <div class = "col-6 col-12-medium col-6-small">
          <a style = "background-image: url('{{ url_for('static', filename='images/USD.png') }}');" href = "#" class = "button fit flag">
            <span style = "display: block; text-align: left;"> USD </span>
            <span style = "display: block; text-align: right; font-size: large;"> $ {{ user.USD }} </span>
          </a>
        </div>
        <div class = "col-6 col-12-medium col-6-small">
          <a style = "background-image: url('{{ url_for('static', filename='images/GBP.png') }}');" href = "#" class = "button fit flag">
            <span style = "display: block; text-align: left;"> GBP </span>
            <span style = "display: block; text-align: right; font-size: large;"> £ {{ user.GBP }} </span>
          </a>
        </div>
        <div class = "col-6 col-12-medium col-6-small">
          <a style = "background-image: url('{{ url_for('static', filename='images/JPY.png') }}');" href = "#" class = "button fit flag">
            <span style = "display: block; text-align: left;"> JPY </span>
            <span style = "display: block; text-align: right; font-size: large;"> ¥ {{ user.JPY }} </span>
          </a>
        </div>
        <div class = "col-6 col-12-medium col-6-small">
          <a style = "background-image: url('{{ url_for('static', filename='images/CAD.png') }}');" href = "#" class = "button fit flag">
            <span style = "display: block; text-align: left;"> CAD </span>
            <span style = "display: block; text-align: right; font-size: large;"> $ {{ user.CAD }} </span>
          </a>
        </div>
        <div class = "col-6 col-12-medium col-6-small">
          <a style = "background-image: url('{{ url_for('static', filename='images/AUD.png') }}');" href = "#" class = "button fit flag">
            <span style = "display: block; text-align: left;"> AUD </span>
            <span style = "display: block; text-align: right; font-size: large;"> $ {{ user.AUD }} </span>
          </a>
        </div>
        <div class = "col-6 col-12-medium col-6-small">
          <a style = "background-image: url('{{ url_for('static', filename='images/CHF.png') }}');" href = "#" class = "button fit flag">
            <span style = "display: block; text-align: left;"> CHF </span>
            <span style = "display: block; text-align: right; font-size: large;"> Fr. {{ user.CHF }} </span>
          </a>
        </div>
      </div>
    </article>

    <article>
      <!-- The second section shows the user's account details -->
      <header>
        <h2> Detalhes da Conta </h2>
      </header>
      <div class = "balance_grid">

        <div class = "balance">
          <p class = "balance_lable"> ID: </p>
        </div>
        <div class = "balance_grid_cell">
          <p class = "balance_value"> {{ user.account_id }} </p>
          <ul class = "icons">
            <li><a href="#" style = "opacity: 0.0;" class = "icon fa-regular fa-pen-to-square"></a></li>
          </ul>
        </div>

        <div class = "balance">
          <p class = "balance_lable"> Nome: </p>
        </div>
        <div class = "balance_grid_cell">
          <p class = "balance_value"> {{ user.name }} </p>
          <ul class = "icons">
            <li><a href = "my_account/change_name" class = "icon fa-regular fa-pen-to-square"></a></li>
          </ul>
        </div>

        <div class = "balance">
          <p class = "balance_lable"> Email: </p>
        </div>
        <div class = "balance_grid_cell">
          <p class = "balance_value"> {{ user.email }} </p>
          <ul class = "icons">
            <li><a href = "my_account/change_email" class = "icon fa-regular fa-pen-to-square"></a></li>
          </ul>
        </div>

        <div class = "balance_grid_cell">
          <p class = "balance_lable"> Telefone: </p>
        </div>
        <div class = "balance_grid_cell">
          <p class = "balance_value"> {{ user.phone }} </p>
          <ul class = "icons">
            <li><a href = "my_account/change_phone" class = "icon fa-regular fa-pen-to-square"></a></li>
          </ul>
        </div>

        <div class = "balance_grid_cell">
          <p class = "balance_lable"> Senha: </p>
        </div>
        <div class = "balance_grid_cell">
          <p class = "balance_value"> ********** </p>
          <ul class = "icons">
            <li><a href = "my_account/change_password" class = "icon fa-regular fa-pen-to-square"></a></li>
          </ul>
        </div>

      </div>
    </article>

    <!--article>
	  < The first section shows the user's account details and balances >
      <header>
        <h2> Minha Conta </h2>
      </header>
      <div class = "balance_grid">

        <div class = "balance">
          <p class = "balance_lable"> Número da Conta: </p>
        </div>
        <div class = "balance_grid_cell">
          <p class = "balance_value"> {{ user.account_id }} </p>
        </div>

        <div class = "balance">
          <p class = "balance_lable"> Nome da Conta: </p>
        </div>
        <div class = "balance_grid_cell">
          <p class = "balance_value"> {{ user.name }} </p>
        </div>

        <div class = "balance">
          <p class = "balance_lable"> IBAN por Euros: </p>
        </div>
        <div class = "balance_grid_cell">
          <p class = "balance_value"> {{ user.IBAN_EUR }} </p>
        </div>

        <div class = "balance">
          <p class = "balance_lable"> EUR: </p>
        </div>
        <div class = "balance_grid_cell">
          <p class = "balance_value"> {{ user.EUR }} </p>
        </div>

        <div class = "balance_grid_cell">
          <p class = "balance_lable"> STN: </p>
        </div>
        <div class = "balance_grid_cell">
          <p class = "balance_value"> {{ user.STN }} </p>
        </div>

        <div class = "balance_grid_cell">
          <p class = "balance_lable"> USD: </p>
        </div>
        <div class = "balance_grid_cell">
          <p class = "balance_value"> {{ user.USD }} </p>
        </div>

      </div>
    </article -->

    <article>
      <!-- The second section shows a record of the user's recent transfers -->
      <header>
        <h2> Minhas Transferências </h2>
      </header>
      <div class = "table-wrapper">
        <table class = "alt">
          <thead>
            <tr>
              <th> Data </th>
              <th> Tipo </th>
              <th> Quant. </th>
              <th> de </th>
              <th> para </th>
            </tr>
          </thead>
          <tbody>
            {% for row in transfers %}
              <tr>
                <td> {{ row[0] }} </td>
                <td> {{ row[1] }} </td>
                <td> {{ row[2] }} </td>
                <td> {{ row[3] }} </td>
                <td> {{ row[4] }} </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <ul class = "actions special">
        <li><a href = "/my_transfers" class = "button"> Ver Todo </a></li>
      </ul>
    </article>

    <article>
      <!-- The third section shows the user's current orders in any market -->
      <header>
        <h2> Meus Pedidos Ativos </h2>
      </header>
      <div class = "table-wrapper">
        <table class = "alt">
          <thead>
            <tr>
              <th> Lado </th>
              <th> Quant. </th>
              <th> Preço </th>
              <th>  </th>
            </tr>
          </thead>
          <tbody>
            {% for o in user.orders %}
              {% if o.active %}
                <tr>
                  <td> {% if o.side == "bid" %} Compra {% else %} Vende {% endif%} </td>
                  <td> {{o.asset_1}} {{o.quantity}} </td>
                  <td> {{o.asset_0}} {{ o.price }} </td>
                  <td> 
                    <a href = "cancel_from_account/{{ o.order_id }}">
                      &times;
                    </a> 
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </article>

    <article>
      <!-- The fourth section shows a record of the user's recent trades -->
      <header>
        <h2> Minhas Negociações </h2>
      </header>
      <div class = "table-wrapper">
        <table class = "alt">
          <thead>
            <tr>
              <th> Data </th>
              <th> Mercado </th>
              <th> Lado </th>
              <th> Quant. </th>
              <th> Preço </th>
            </tr>
          </thead>
          <tbody>
            {% for row in trades %}
              <tr>
                <td> {{ row[0] }} </td>
                <td> {{ row[1] }} </td>
                <td> {{ row[2] }} </td>
                <td> {{ row[3] }} </td>
                <td> {{ row[4] }} </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <ul class = "actions special">
        <li><a href = "/my_trades" class = "button"> Ver Todo </a></li>
      </ul>
    </article>

  </section>

{% endblock %}