{% extends "base.html" %}

{% block navbar %}
  <li><a href = "/"> Casa </a></li>
  <li class = "dropdown">
    <span class = "opener"> Mercados </span>
    <ul class = "submenu" style = "padding-left: 0px">
      <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/markets/EURSTN"> EUR/STN </a></li>
      <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/markets/USDEUR"> USD/EUR </a></li>
    </ul>
  </li>
  <li><a href = "/how_it_works"> Como Funciona </a></li>
  {% if user.is_authenticated %}
    <li><a href = "/my_account"> Minha Conta </a></li>
    <li class = "active"><a href = "/deposits"> Depósitos </a></li>
    <li><a href = "/withdrawals"> Retiradas </a></li>
    <li><a href = "/send"> Enviar Dinheiro </a></li>
    {% if user.account_id in [1234567, 9875512] %}
      <li><a href = "/admin"> Admin </a></li>
    {% endif %}
    <li><a href = "/logout"> Logout </a></li>
  {% endif%}
{% endblock %}

{% block content %} 
  <article class = "post featured">
    <header class = "major">
      <section class = "post">
        <header class = "major">
          <h1> Depósitos </h1>
        </header>
        <p> 
          Para organizar um depósito ou retirada enviar uma mensagem para Lázaro 
          (<a href = "https://wa.me/2399875512">+239 987 5512</a>). Podemos 
          enviar e receber transferências bancárias eletrônicas em euros. Dobras 
          funcionam com entrega de dinheiro. 
        </p>
      </section>
    </header>
  </article>
{% endblock %}