{% extends "base.html" %}

{% block navbar %}
  <li><a href = "/"> Casa </a></li>
  <li class = "dropdown">
    <span class = "opener"> Mercados </span>
    <ul class = "submenu" style = "padding-left: 0px">
      <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/markets/EURSTN"> EUR/STN </a></li>
      <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/markets/USDEUR"> USD/EUR </a></li>
    </ul>
  </li>
  <li><a href = "/how_it_works"> Como Funciona </a></li>
  {% if user.is_authenticated %}
    <li><a href = "/my_account"> Minha Conta </a></li>
    <li><a href = "/deposits"> Depósitos </a></li>
    <li><a href = "/withdrawals"> Retiradas </a></li>
    <li><a href = "/send"> Enviar Dinheiro </a></li>
    {% if user.account_id in [1234567, 9875512] %}
      <li class = "active"><a href = "/admin"> Admin </a></li>
    {% endif %}
    <li><a href = "/logout"> Logout </a></li>
  {% endif%}
{% endblock %}

{% block content %} 
  <article class = "post featured">
    <header class = "major">
      <section class = "post">
        <header>
          <h2> Administrador </h2>
        </header>
        {% if user.account_id in [1234567, 9875512] %}
          <p> Contas </p>
          <div class = "row gtr-uniform">
            <div class = "col-6">
              <ul class = "actions special">
                <li> <a href = "/admin/accounts" class = "button"> Contas </a> </li>
              </ul>
            </div>
            <div class = "col-6">
              <ul class = "actions special">
                <li> <a href = "/admin/signup" class = "button"> Sign Up </a> </li>
              </ul>
            </div>
          </div>

          <p> Depósitos e Retiradas </p>
          <div class = "row gtr-uniform">
            <div class = "col-6">
              <ul class = "actions special">
                <li> <a href = "/admin/submit_flow" class = "button"> Criar Fluxo </a> </li>
              </ul>
            </div>
            <div class = "col-6">
              <ul class = "actions special">
                <li> <a href = "/admin/review_flows" class = "button"> Aprovar Fluxo </a> </li>
              </ul>
            </div>
          </div>
        {% else %}
          <p> Somente o administrador pode usar esta página. </p>
        {% endif %}
      </section>
    </header>
  </article>

{% endblock %}