{% extends "admin/main.html" %}

{% block content %} 
  <article class = "post featured">
    <header class = "major">
      <section class = "post">
        <header class = "major">
          <h1> Depósitos e Retiradas </h1>
        </header>
        <!-- form to add or subtract money from an account -->
        {% if user.account_id in [1234567, 9875512] %}
          <form method = "post">
            <div class = "row gtr-uniform">
              <div class = "col-6 col-12-small">
                <label> NÚMERO DO DESTINATÁRIO: </label>
                <input 
                  type = "number" name = "paid_to_id" id = "paid_to_id" value = "" 
                  placeholder = "1234567" step = "1" required = true/>
              </div>
              <div class="col-6 col-12-small">
                <label> NOME DO DESTINATÁRIO: </label>
                <div class = "box" style = "padding: 3.4px 16px 3.4px 16px;">
                  <p id = "paid_to_name"> Digite o número da conta acima </p>
                </div>
              </div>

              <div class="col-6 col-12-small">
                <label> MOEDA: </label>
                <select id = "currency" name = "currency", required = true>
                  <option value = "" disabled selected > Escolhe uma moeda </option>
                  <option value = "EUR"> EUR </option>
                  <option value = "STN"> STN </option>
                  <option value = "USD"> USD </option>
                  <option value = "GBP"> GBP </option>
                  <option value = "JPY"> JPY </option>
                  <option value = "CAD"> CAD </option>
                  <option value = "AUD"> AUD </option>
                  <option value = "CHF"> CHF </option>
                </select>
              </div>
              
              <!--div class = "col-2 col-4-small">
                <input 
                  type = "radio" id = "EUR" name = "currency" value = "EUR" required = true>
                <label for = "EUR"> EUR </label>
              </div>
              <div class = "col-2 col-4-small">
                <input 
                  type = "radio" id = "STN" name = "currency" value = "STN" required = true>
                <label for = "STN"> STN </label>
              </div>
              <div class = "col-2 col-4-small">
                <input 
                  type = "radio" id = "USD" name = "currency" value = "USD" required = true>
                <label for = "USD"> USD </label>
              </div>
              <div class = "col-2 col-4-small">
                <input 
                  type = "radio" id = "GBP" name = "currency" value = "GBP" required = true>
                <label for = "GBP"> GBP </label>
              </div>
              <div class = "col-2 col-4-small">
                <input 
                  type = "radio" id = "JPY" name = "currency" value = "JPY" required = true>
                <label for = "JPY"> JPY </label>
              </div>
              <div class = "col-2 col-4-small">
                <input 
                  type = "radio" id = "CAD" name = "currency" value = "CAD" required = true>
                <label for = "CAD"> CAD </label>
              </div>
              <div class = "col-2 col-4-small">
                <input 
                  type = "radio" id = "AUD" name = "currency" value = "AUD" required = true>
                <label for = "AUD"> AUD </label>
              </div>
              <div class = "col-2 col-4-small">
                <input 
                  type = "radio" id = "CHF" name = "currency" value = "CHF" required = true>
                <label for = "CHF"> CHF </label>
              </div-->

              <div class = "col-3 col-6-small">
                <input 
                  type = "radio" id = "deposit" name = "direction" value = "deposit" required = true/>
                <label for = "deposit"> Deposito </label>
              </div>
              <div class = "col-3 col-6-small">
                <input 
                  type = "radio" id = "withdrawal" name = "direction" value = "withdrawal" required = true/>
                <label for = "withdrawal"> Retirada </label>
              </div>

              <div class = "col-6 col-12-small">
                <label> VALOR: </label>
                <input 
                  type = "number" name = "quantity" id = "quantity" value = "" 
                  placeholder = "100" step = "0.01" min = "0" requried = true/>
              </div>
  
              <div id = "name_space" class = "col-6 col-12-small">
                <label id = "name_lable"> Nome da Conta <a href = "#" onclick = "change_name();">(mudar)</a>: </label>
                <div id = "name_box" class = "box" style = "padding: 3.4px 16px 3.4px 16px;">
                  <p id = "bank_name"> Digite o número da conta acima </p>
                </div>
              </div>
    
              <div id = "iban_space" class = "col-6 col-12-small">
                <label id = "iban_lable"> IBAN da Conta <a href = "#" onclick = "change_iban();">(mudar)</a>: </label>
                <div id = "iban_box" class = "box" style = "padding: 3.4px 16px 3.4px 16px;">
                  <p id = "bank_iban"> Digite o número da conta acima </p>
                </div>
              </div>
  
              <div class = "col-6 col-12-small">
                <label> MENSAGEM: </label>
                <input 
                  type = "text" name = "message" id = "message" value = "" 
                  placeholder = "Mensagem para o destinatário" />
              </div>
  
              <div class = "col-6 col-12-small">
                <label> SENHA DO ADMINISTRADOR: </label>
                <input 
                  type = "password" name = "password" id = "password" value = "" 
                  placeholder = "*******" required = true/>
              </div>
    
              <div class = "col-12">
                <ul class = "actions">
                  <li><input type = "submit" value = "Colocar" class = "primary" /></li>
                  <li><input type = "reset" value = "Reiniciar" /></li>
                </ul>
              </div>
            </div>
          </form>
        {% else %}
          <p> Somente o administrador pode usar esta página. </p>
        {% endif %}
      </section>
    </header>
  </article>
{% endblock %}

{% block scripts %} 
  <script>
    const account_id = document.getElementById("paid_to_id");
    const account_name = document.getElementById("paid_to_name");
    const bank_name = document.getElementById("bank_name");
    const bank_iban = document.getElementById("bank_iban");
    const dropdown = document.getElementById("currency");

    let lastAccountData = null; // store the latest fetch result

    function getSelectedCurrency() {
      const dropdown = document.getElementById("currency");
      return dropdown ? dropdown.value : null;
    }

    function updateBank() {
      console.log("arrived at the bank function")
      if (!lastAccountData) return;
      const currency = getSelectedCurrency();
      if (!currency) {
        bank_name.textContent = "Escolhe uma moeda";
        bank_iban.textContent = "Escolhe uma moeda";
        return;
      }
    
      if (currency === "EUR") {
        bank_name.textContent = lastAccountData.name_EUR;
        bank_iban.textContent = lastAccountData.IBAN_EUR;
      } else if (currency === "STN") {
        bank_name.textContent = lastAccountData.name_STN;
        bank_iban.textContent = lastAccountData.IBAN_STN;
      } else if (currency === "USD") {
        bank_name.textContent = lastAccountData.name_USD;
        bank_iban.textContent = lastAccountData.IBAN_USD;
      } else if (currency === "GBP") {
        bank_name.textContent = lastAccountData.name_GBP;
        bank_iban.textContent = lastAccountData.IBAN_GBP;
      } else if (currency === "JPY") {
        bank_name.textContent = lastAccountData.name_JPY;
        bank_iban.textContent = lastAccountData.IBAN_JPY;
      } else if (currency === "CAD") {
        bank_name.textContent = lastAccountData.name_CAD;
        bank_iban.textContent = lastAccountData.IBAN_CAD;
      } else if (currency === "AUD") {
        bank_name.textContent = lastAccountData.name_AUD;
        bank_iban.textContent = lastAccountData.IBAN_AUD;
      } else if (currency === "CHF") {
        bank_name.textContent = lastAccountData.name_CHF;
        bank_iban.textContent = lastAccountData.IBAN_CHF;
      }
    }
    
    account_id.addEventListener("blur", () => {
      fetch(`/get_account_name?account_id=${encodeURIComponent(account_id.value)}`)
        .then(res => res.json())
        .then(data => {
          account_name.textContent = data.account_name;
          console.log("Saving data")
          console.log(data.IBAN_USD)
          lastAccountData = data;
          updateBank();
        })
        .catch(err => {
          console.error(err);
          account_name.textContent = "Errado";
          bank_name.textContent = "Errado";
          bank_iban.textContent = "Errado";
        });
    });

    // Fetch the account data again if the user selects a new currency
    dropdown.addEventListener("change", updateBank);
  </script>

  <!-- This next script is for if the user decides to change the IBAN or account name that we have on file.-->
  <script>
    let name_space = document.getElementById("name_space");
    let name_lable = document.getElementById("name_lable");
    let name_box = document.getElementById("name_box");

    let iban_space = document.getElementById("iban_space");
    let iban_lable = document.getElementById("iban_lable");
    let iban_box = document.getElementById("iban_box");

    function change_name() {
      const input = document.createElement("input");
      input.type = "text";
      input.name = "name";
      input.id = "name";
      input.value = "";
      input.placeholder = "James Lancaster";
      name_space.appendChild(input);
      name_box.remove();
      name_lable.textContent = "Nome da Conta:"
    };

    function change_iban() {
      const input = document.createElement("input");
      input.type = "text";
      input.name = "iban";
      input.id = "iban";
      input.value = "";
      input.placeholder = "GB33 BUKB 2020 1555 5555 55";
      iban_space.appendChild(input);
      iban_box.remove();
      iban_lable.textContent = "IBAN da Conta:"
    };
  </script>
{% endblock %}