{% extends "base.html" %}

{% block navbar %}
  <li class = "active"><a href = "/"> Casa </a></li>
  <li class = "dropdown">
    <span class = "opener"> Mercados </span>
    <ul class = "submenu" style = "padding-left: 0px">
      <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/markets/EURSTN"> EUR/STN </a></li>
      <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/markets/USDEUR"> USD/EUR </a></li>
      <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/markets/GBPEUR"> GBP/EUR </a></li>
      <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/markets/JPYEUR"> JPY/EUR </a></li>
      <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/markets/CADEUR"> CAD/EUR </a></li>
      <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/markets/AUDEUR"> AUD/EUR </a></li>
      <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/markets/CHFEUR"> CHF/EUR </a></li>
    </ul>
  </li>
  <li><a href = "/how_it_works"> Como Funciona </a></li>
  {% if user.is_authenticated %}
    <li><a href = "/my_account"> Minha Conta </a></li>
    <li><a href = "/deposits"> Depósitos </a></li>
    <li><a href = "/withdrawals"> Retiradas </a></li>
    <li><a href = "/send"> Enviar Dinheiro </a></li>
    {% if user.account_id in [1234567, 9875512] %}
      <li><a href = "/admin"> Admin </a></li>
    {% endif %}
    <li><a href = "/logout"> Logout </a></li>
  {% else %}
    <li><a href = "/signup"> Inscrever </a></li>
  {% endif%}
{% endblock %}

{% block intro %}
  <!-- Intro -->
  <div id = "intro">
    <h1> Ligar Sao Tome e Principe ao Mundo </h1>
    <p> Uma plataforma de pagamento e troca de moeda peer-to-peer. </p>
    <ul class = "actions">
      <li><a href = "#header" class = "button icon solid solo fa-arrow-down scrolly"> Continue </a></li>
    </ul>
  </div>
{% endblock %}

{% block content %} 
  <article class = "post featured">
    <p id = "offline_warning"> 
      Atenção, você está offline no momento. Enquanto estiver offline, você não 
      poderá enviar ou cancelar pedidos e algumas informações podem não estar 
      disponíveis para visualização. 
    </p>
    <header class = "major">
      {% if user.is_authenticated %}
  	  <!-- If the user is logged in show a welcome message and a photo -->
        <h2> Bem Vindo {{ user.name }} </h2>
        <ul class = "actions special"></ul>
          <a id = "install_button" class = "button" style = "display: none;">
            Baixe o Aplicativo
          </a>
        </ul>
        <a class = "image main"> 
          <img src = {{ url_for('static', filename='images/Sao_Tome.avif') }} alt = "" />
        </a>
      {% else %}
        <!-- If the user is not logged in show a login form -->
        <h2> Portal Login </h2>
        <form method = "POST">
          <div class="row gtr-uniform">
            <div class="col-12">
              <input 
                type = "number" name = "account_id" id = "account_id" value = "" 
                placeholder = "Número da Conta eg. 1234567" step = "1" 
                required = true/>
            </div>
            <div class="col-12">
              <input 
                type = "password" name = "password" id = "password" value = "" 
                placeholder = "Sua Senha" required = true/>
            </div>
            <div class = "col-12">
              <ul class = "actions">
                <li><input type = "submit" value = "Login" class = "primary" /></li>
                <li><input type = "reset" value = "Reiniciar" /></li>
              </ul>
            </div>
          </div>
        </form>
        <ul class = "actions special"></ul>
          <a id = "install_button" class = "button" style = "display: none;">
            Baixe o Aplicativo
          </a>
        </ul>
        {% if retry %}
          <p>
            Em caso de perder a sua conta, entre em contacto com um agente 
            (<a href = "https://wa.me/2399949365">+239 994 9365</a>).
          </p>
        {% endif %}
        <p>
          Novo para a platforma? Crie uma conta<a href = "/signup"> aqui </a>.
        </p>
      {% endif %}
    </header>
  </article>
{% endblock %}

{% block scripts %} 
  <script>
    let deferredPrompt;
    console.log('test');
  
    // Listen for the install prompt
    window.addEventListener('beforeinstallprompt', (e) => {
      console.log('beforeinstallprompt event fired');
      // Prevent Chrome from showing the default install banner
      e.preventDefault();
      // Stash the event so it can be triggered later.
      deferredPrompt = e;
  
      // Show the custom install button
      const install_button = document.getElementById('install_button');
      if (install_button) {
        install_button.style.display = 'inline-block';
  
        install_button.addEventListener('click', () => {
          // Show the install prompt
          deferredPrompt.prompt();
          // Wait for the user to respond to the prompt
          deferredPrompt.userChoice.then((choiceResult) => {
            if (choiceResult.outcome === 'accepted') {
              console.log('User accepted the A2HS prompt');
            } else {
              console.log('User dismissed the A2HS prompt');
            }
            deferredPrompt = null;
          });
        });
      }
    });
  
    // Detect if already running in standalone mode (i.e., installed as a PWA)
    window.addEventListener('DOMContentLoaded', () => {
      const isInStandaloneMode = () =>
        window.matchMedia('(display-mode: standalone)').matches ||
        window.navigator.standalone === true;
  
      if (isInStandaloneMode()) {
        // Hide the install button if already installed
        const install_button = document.getElementById('install_button');
        if (install_button) {
          install_button.style.display = 'none';
        }
      }
    });
  </script>
  <script>
    async function checkOnline() {
      try {
        const response = await fetch("/ping");
        return response.ok;
      } catch {
        return false;
      }
    }

    checkOnline().then(is_online => {
      if (is_online) {
        const offline_warning = document.getElementById('offline_warning');
        offline_warning.style.display = 'none';
        console.log("Online confirmed");
      } else {
        console.log("Offline confirmed");
      }
    });
  </script>
{% endblock %}