{% extends "base.html" %}

{% block navbar %}
  <li class = "active"><a style = "padding-left: 20px; padding-right: 20px;" href = "/"> Casa </a></li>
  <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/market"> EUR/STN </a></li>
  <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/how_it_works"> Como Funciona </a></li>
  {% if user.is_authenticated %}
    <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/my_account"> Minha Conta </a></li>
    <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/transfers"> Depósitos </a></li>
    <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/transfers"> Retiradas </a></li>
    <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/send"> Enviar Dinheiro </a></li>
    <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/logout"> Logout </a></li>
  {% endif%}
{% endblock %}

{% block intro %}
  <!-- Intro -->
  <div id = "intro">
    <h1> Ligar Sao Tome e Principe ao Mundo </h1>
    <p> Uma plataforma de pagamento e troca de moeda peer-to-peer. </p>
    <ul class = "actions">
      <li><a href = "#header" class = "button icon solid solo fa-arrow-down scrolly"> Continue </a></li>
    </ul>
  </div>
{% endblock %}

{% block content %} 
  <article class = "post featured">
    <header class = "major">
      {% if user.is_authenticated %}
  	  <!-- If the user is logged in show a welcome message and a photo -->
        <h2> Bem Vindo {{ user.name }} </h2>
        <a class = "image main"> 
          <img src = {{ url_for('static', filename='images/Sao_Tome.avif') }} alt = "" /> 
        </a>
      {% else %}
        <!-- If the user is not logged in show a login form -->
        <h2> Portal Login </h2>
        <form method = "POST">
          <div class="row gtr-uniform">
            <div class="col-12">
              <input 
                type = "number" name = "account_id" id = "account_id" value = "" 
                placeholder = "Número da Conta eg. 1234567" step = "1" 
                required = true/>
            </div>
            <div class="col-12">
              <input 
                type = "password" name = "password" id = "password" value = "" 
                placeholder = "Sua Senha" required = true/>
            </div>
            <div class = "col-12">
              <ul class = "actions">
                <li><input type = "submit" value = "Login" class = "primary" /></li>
                <li><input type = "reset" value = "Reiniciar" /></li>
              </ul>
            </div>
          </div>
        </form>
      {% endif %}
    </header>
  </article>
{% endblock %}