{% extends "base.html" %}

{% block navbar %}
  <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/"> Casa </a></li>
  <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/market"> EUR/STN </a></li>
  <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/how_it_works"> Como Funciona </a></li>
  {% if user.is_authenticated %}
    <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/my_account"> Minha Conta </a></li>
    <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/deposits"> Depósitos </a></li>
    <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/withdrawals"> Retiradas </a></li>
    <li class = "active"><a style = "padding-left: 20px; padding-right: 20px;" href = "/send"> Enviar Dinheiro </a></li>
    {% if user.account_id in [1234567, 9875512] %}
      <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/admin"> Admin </a></li>
    {% endif %}
    <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/logout"> Logout </a></li>
  {% endif%}
{% endblock %}

{% block content %} 
  <article class = "post featured">
    <header class = "major">
      <section class = "post">
        <header class = "major">
          <h1> Envia Dinheiro </h1>
        </header>
        <form method = "post">
          <div class = "row gtr-uniform">
            <div class = "col-6 col-12-small">
              <label> NÚMERO DO DESTINATÁRIO: </label>
              <input 
                type = "number" name = "paid_to_id" id = "paid_to_id" value = "" 
                placeholder = "1234567" step = "1" required = true/>
            </div>
            <div class="col-6 col-12-small">
              <label> NOME DO DESTINATÁRIO: </label>
              <div class = "box" style = "padding: 3.4px 16px 3.4px 16px;">
                <p id = "paid_to_name"> Digite o número da conta acima </p>
              </div>
            </div>
            
            <div class = "col-3 col-6-small">
              <input 
                type = "radio" id = "EUR" name = "currency" value = "EUR" 
                required = true>
              <label for = "EUR"> EUR </label>
            </div>
            <div class = "col-3 col-6-small">
              <input 
                type = "radio" id = "STN" name = "currency" value = "STN" 
                required = true>
              <label for = "STN"> STN </label>
            </div>
            <div class = "col-6 col-12-small">
              <label> VALOR: </label>
              <input 
                type = "number" name = "quantity" id = "quantity" value = "" 
                placeholder = "100" step = "0.01" required = true/>
            </div>
  
            <div class = "col-6 col-12-small">
              <label> MENSAGEM: </label>
              <input 
                type = "text" name = "message" id = "message" value = "" 
                placeholder = "Mensagem para o destinatário"/>
            </div>
  
            <div class = "col-6 col-12-small">
              <label> SUA SENHA: </label>
              <input 
                type = "password" name = "password" id = "password" value = "" 
                placeholder = "*******" required = true/>
            </div>
  
            <div class = "col-12">
              <ul class = "actions">
                <li><input type = "submit" value = "Enviar" class = "primary" /></li>
                <li><input type = "reset" value = "Reiniciar" /></li>
              </ul>
            </div>
          </div>
        </form>
      </section>
    </header>
  </article>

{% endblock %}

{% block scripts %} 
  <script src = "{{ url_for('static', filename='js/getname.js') }}"></script>
{% endblock %}