{% extends "withdrawals/main.html" %}

{% block content %} 
  <article class = "post featured">
    <header class = "major">
      <section class = "post">
        <header class = "major">
          <h1> Retiradas de CHF </h1>
        </header>
        <p> 
          O Portal vai enviar uma transferência bancária eletrônica em francos 
          para uma conta na Suíça. Não será taxas adicionais por um banco na 
          Suíça, contas de francos fora da Suíça pode haver taxas adicionais dos 
          bancos lá. Se você precisa de ajuda enviar uma mensagem para um agente 
          (<a href = "https://wa.me/2399949365">+239 994 9365</a>).
        </p>
        <form method = "post">
          <div class = "row gtr-uniform">
            <div class = "col-6 col-12-small">
              <label> VALOR: </label>
              <input 
                type = "number" name = "quantity" id = "quantity" value = "" 
                placeholder = "0.00" step = "0.01" min = "0" required = true/>
            </div>
            <div class="col-6 col-12-small">
              <label> VALOR DISPONÍVEL: </label>
              <div class = "box" style = "padding: 3.4px 16px 3.4px 16px;">
                <p> {{ user.CHF }} </p>
              </div>
            </div>
            
            <!--div class = "col-6">
              <input 
                type = "radio" id = "old" name = "account" value = "old" required = true>
              <label for = "old"> Usar Conta Salva </label>
            </div>
            <div class = "col-6">
              <input 
                type = "radio" id = "new" name = "account" value = "new" required = true>
              <label for = "new"> Usar Nova Conta </label>
            </div-->
  
            <div id = "name_space" class = "col-6 col-12-small">
              {% if user.name_CHF %}
                <label id = "name_lable"> Nome da Conta <a href = "#" onclick = "change_name();">(mudar)</a>: </label>
                <div id = "name_box" class = "box" style = "padding: 3.4px 16px 3.4px 16px;">
                  <p> {{ user.name_CHF }} </p>
                </div>
              {% else %}
                <label> Nome da Conta: </label>
                <input 
                  type = "text" name = "name" id = "name" value = "" 
                  placeholder = "James Lancaster"/>
              {% endif %}
            </div>
  
            <div id = "iban_space" class = "col-6 col-12-small">
              {% if user.IBAN_CHF %}
                <label id = "iban_lable"> IBAN da Conta <a href = "#" onclick = "change_iban();">(mudar)</a>: </label>
                <div id = "iban_box" class = "box" style = "padding: 3.4px 16px 3.4px 16px;">
                  <p> {{ user.IBAN_CHF }} </p>
                </div>
              {% else %}
                <label> IBAN da Conta: </label>
                <input 
                  type = "text" name = "iban" id = "iban" value = "" 
                  placeholder = "GB33 BUKB 2020 1555 5555 55"/>
              {% endif %}
            </div>
  
            <div class = "col-6 col-12-small">
              <label> MENSAGEM: </label>
              <input 
                type = "text" name = "message" id = "message" value = "" 
                placeholder = "Mensagem para o destinatário"/>
            </div>
    
            <div class = "col-6 col-12-small">
              <label> SUA SENHA: </label>
              <input 
                type = "password" name = "password" id = "password" value = "" 
                placeholder = "*******" required = true/>
            </div>
    
            <div class = "col-12">
              <ul class = "actions">
                <li><input type = "submit" value = "Retirar" class = "primary" /></li>
                <li><input type = "reset" value = "Reiniciar" /></li>
              </ul>
            </div>
          </div>
        </form>
      </section>
    </header>
  </article>
{% endblock %}

{% block scripts %} 
  <script>
    let name_space = document.getElementById("name_space");
    let name_lable = document.getElementById("name_lable");
    let name_box = document.getElementById("name_box");

    let iban_space = document.getElementById("iban_space");
    let iban_lable = document.getElementById("iban_lable");
    let iban_box = document.getElementById("iban_box");

    function change_name() {
      const input = document.createElement("input");
      input.type = "text";
      input.name = "name";
      input.id = "name";
      input.value = "";
      input.placeholder = "James Lancaster";
      name_space.appendChild(input);
      name_box.remove();
      name_lable.textContent = "Nome da Conta:"
    };

    function change_iban() {
      const input = document.createElement("input");
      input.type = "text";
      input.name = "iban";
      input.id = "iban";
      input.value = "";
      input.placeholder = "GB33 BUKB 2020 1555 5555 55";
      iban_space.appendChild(input);
      iban_box.remove();
      iban_lable.textContent = "IBAN da Conta:"
    };
  </script>
{% endblock %}