{% extends "base.html" %}

{% block navbar %}
  <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/"> Casa </a></li>
  <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/market"> EUR/STN </a></li>
  <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/how_it_works"> Como Funciona </a></li>
  {% if user.is_authenticated %}
    <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/my_account"> Minha Conta </a></li>
    <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/deposits"> Depósitos </a></li>
    <li class = "active"><a style = "padding-left: 20px; padding-right: 20px;" href = "/withdrawals"> Retiradas </a></li>
    <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/send"> Enviar Dinheiro </a></li>
    <li><a style = "padding-left: 20px; padding-right: 20px;" href = "/logout"> Logout </a></li>
  {% endif%}
{% endblock %}

{% block content %} 

<article class = "post featured">
  <header class = "major">
    <section class = "post">
      <header class = "major">
        <h1> Retiradas de STN </h1>
      </header>
      <p> 
        Atualmente, dobras pode ser coletado fisicamente, em pessoa. Para 
        organizar uma retirada enviar uma mensagem para Lázaro 
        (<a href = "https://wa.me/2399875512">+239 987 5512</a>). 
      </p>
    </section>
  </header>
</article>

{% endblock %}